<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<header id="header">
    {{ include('ui/components/header.html.twig') }}
</header>

<div class="container py-5">
    {% block body %}
    {% endblock %}
</div>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}

{% endblock %}
</body>
</html>